{% load static %}
<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a target="_blank" href="https://www.facebook.com/gottacallmebassam/">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.instagram.com/baaasssam1/">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<p>If you have a problem, or for business inquiries</p><a href="{%url 'contact_me'%}"> <h5>Contact me</h5> </a><p>Or click my name below.</p>
					</li>

				</ul>
				<p class="copyright-text">Copyright &copy;2021, Designed by <a href="https://themefisher.com/">Themefisher</a> &amp; Developed By <a target="_blank" href="https://www.facebook.com/gottacallmebassam">Bassam Emad</a></p>
			</div>
		</div>
	</div>
</footer>