{% extends 'base.html' %}
{% load static %}
{% block title %}
    Checkout
{% endblock title %}
{% block content %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Checkout</h1>
					<ol class="breadcrumb">
						<li><a href="{%url 'home'%}">Home</a></li>
						<li class="active">Order Success</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                <h2>Your order has been successfully placed!</h2>
                  <h4 class="widget-title">Order Details</h4>
                  <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                      <div class="pull-left text-center" href="#!">
                      </div>
                      <div class="media-body">
                        {% include 'partials/messages.html' %}
                        <ul class="user-profile-list">
                          <li><span>Full Name:</span>{{delivery.order.user.first_name}} {{delivery.order.user.last_name}}</li>
                          <li><span>City:</span>{{delivery.city}}</li>
                          <li><span>Area:</span>{{delivery.area}}</li>
                          <li><span>Delivery Point:</span>{{delivery.delivery_point}}</li>
                          <li><span>Phone:</span>{{delivery.phone_number}}</li>
                          <li><span>Total Price:</span>${{delivery.order.total_price}}</li>
                          <li><span>Delivery Date:</span>{{delivery.estimated_delivery_date}}</li>
                        </ul>
                        <a href="{%url 'orders'%}" class="btn btn-main mt-20">
                            GO TO MY ORDERS
                        </a>
                        <a href="{%url 'home'%}" class="btn btn-main mt-20">
                            GO TO MY HOMEPAGE
                        </a>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
