{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="{%url 'home'%}">Home</a></li>
						<li class="acive">My Account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="{%url 'orders'%}">Orders</a></li>
          <li><a class="active"  href="{%url 'userprofile'%}">Profile Details</a></li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="pull-left text-center" href="#!">
            </div>
            <div class="media-body">
              {% include 'partials/messages.html' %}
              <ul class="user-profile-list">
                <li><span>Full Name:</span>{{profile.full_name}}</li>
                <li><span>City:</span>{{profile.city}}</li>
                <li><span>Area:</span>{{profile.area}}</li>
                <li><span>Delivery Point:</span>{% if user.delivery_point %}
                  {{profile.delivery_point}}
                  {% else %}
                  No delivery point chosen
                {% endif %} </li>
                <li><span>Phone:</span>{{profile.phone}}</li>
              </ul>
            </div>
            <br>
            <a href="{%url 'profile_edit'%}" class="btn btn-main text-center">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  </body>
  </html>
{% endblock content %}
